{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Criar Ação
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat"
        xmlns="http://www.w3.org/1999/html">
    <div class="container mt-14 mx-auto">
        <div class="justify-start mt-4" >

            <a href="{% url 'grc:planos'  %}">
               <ion-icon name="arrow-undo-outline"> </ion-icon>
                Voltar
                </a>

            </div>
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">

            <div class =" flex justify-start">
                <h1 class=" font-semibold text-2xl md:text-1xl  mt-4  md:wd-3/4 text-center" >
                    Criar Novo Plano
                </h1>
            </div>

        </div>

        <div class="container-sm text-gray-100  mt-4 ">

            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                {{form|crispy}}
                <button class="bg-red-600 py-1 px-3 mb-4 text-white md:text-lg rounded-md" type="submit">Salvar</button>
                </fieldset>
            </form>
        </div>
    </div>
</header>
{% endblock %}