{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Dimensões
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat" >

    <div class="container mx-auto mt-3">
        <div class="z-10 h-full py-32 px-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1 class="font-semibold text-5xl md:text-1xl w-1/12 md:w-3/4 text-center align-self-center">
                Dimensões
            </h1>

        </div>
    </div>
    <div class="container mx-auto mt-3">
        <div class="flex justify-center ">
            <ul>
                {% for dimensao in dimensoes %}
                <li class="font-semibold text-1xl md:text-1xl ">
                    {{ dimensao.nome }} </li>
                <hr>
                <hr>
                <hr>
                <li class="text-sm">
                <ion-icon name="caret-forward-outline"></ion-icon>  {{ dimensao.descricao }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
 </header>


{% endblock %}